body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background: #076575;
    margin-bottom: 20px;
}
.nav h1{
    color: #fff;
    font-weight: 700;
    padding: 0;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
}
.banner{
    background: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    padding: 200px;
}
.banner h1{
    position: relative;
    top: 50%;
    left: 50%;
    color: #ffff;
}
.section{
    padding: 0 70px;
 
}
.section h1{
    text-align: center;
}
.section2{
    margin-top: 50px;
}
.section2 h2{
    margin-left: 20px;
}
.images{
    display: flex;
    justify-content: space-around;
}
.images img{
    width: 420px;
}
.footer{
    background: #076575;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

/** About Page **/
.aboutSection{
    padding-bottom: 285px;
}
.aboutSection h1{
    margin-left: 40px;
}
.aboutSection ul{
    list-style: none;
}
.aboutSection ul li{
    margin-top: 10px;
}
.aboutSection ul li a{
    text-decoration: none;
    color: #076575;
    font-size: 17px;
    font-weight: 500;
}

/** Portfolio **/
.project h1{
    margin-left: 50px;
}
.projectFeature{
    display: grid;
    grid-template-columns: auto auto auto;
}
.projectFeature a{
    margin: 0 5px;
}
.projectFeature a img{
    width: 420px;
}
.projectFeature a img:hover{
    background: #076575;
    opacity: 70%;
    transition: 2s all ease;
}
.projectFeature a p{
    text-align: center;
    text-decoration: none;
    background: #076575;
    color: #fff;
    font-size: 20px;

}
