body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin-top: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background: #076575;
    margin-bottom: 20px;
}
.nav h1{
    color: #fff;
    font-weight: 700;
    padding: 0;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
}
.banner{
    background: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    padding: 200px;
}
.banner h1{
    position: relative;
    top: 50%;
    left: 50%;
    color: #ffff;
}
.section{
    padding: 0 70px;
 
}
.section h1{
    text-align: center;
}
.section2{
    margin-top: 50px;
}
.section2 h2{
    margin-left: 20px;
}
.images{
    display: flex;
    justify-content: space-around;
}
.images img{
    width: 420px;
}
.footer{
    background: #076575;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}
